body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: bisque;
}

header .header-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}

header .header-container .header-logo h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .header-container .header-info p {
  font-size: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .header-container .header-function button {
  width: 250px;
  height: 70px;
  border-radius: 30px;
  border: 0.4px solid white;
  background: -webkit-gradient(linear, left top, right top, from(#020024), color-stop(33%, #c82fed), color-stop(55%, #0647a2), color-stop(68%, #cc1dee), to(#00d4ff));
  background: linear-gradient(90deg, #020024 0%, #c82fed 33%, #0647a2 55%, #cc1dee 68%, #00d4ff 100%);
}

main {
  background-color: #406300;
}

main .main-cont {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-cont .navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .main-cont .navigation a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .main-cont .navigation a:hover {
  color: red;
}

.popup {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.473);
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .8s;
  transition: .8s;
}

.open {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  visibility: visible;
  opacity: 1;
  background-color: white;
}

.popup-container {
  padding: 15px;
  position: relative;
  width: 500px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close {
  background-color: red;
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=style.css.map */